@import "../../scss/layout";

.filtersContainer {
  @extend %flex-row;
  justify-content: center;
  flex-flow: wrap;
  background-color: #f54343;
  padding: 10px;
  color: white;

  .filterItem {
    flex-grow: 0;
    margin-bottom: 6px;
    padding: 0 20px;

    label{
      padding-right: 10px;
    }
  }
}
