@import "../../scss/font-size", "../../scss/text", "../../scss/layout";

.restaurantPageContainer{
  display: flex;
  flex-direction: column;
  flex: 1;
  wackground-color: white
}
.restaurantDetailsContainer{
  display: flex;
  flex-direction: column;
}

.restaurantDetailsPane{
  display: flex;
  justify-content: center;
  flex:1;

  .detailsCol{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
    @include fontSize(18px, "rem");
    padding: 10px 20px;


    .cuisineIcon{
      flex-direction: column;
      display: flex;
      justify-content: center;
      @include fontSize(80px, "em");
      justify-content: center;
      font-family: "ef_cuisinesregular";
      color: #f54343;
      margin-top: 15px;
    }

    .cuisineName{
      margin-top: 10px;
    }

    .name{
      @include bold-text();
      @include fontSize(24px,"rem")
    }

    .address{
      @include fontSize(18px, "rem")
    }

    .deliveryTime{

    }

    .foodCard{

    }

    .title{
      @include bold-text();
    }

  }
}
