@import "../../scss/layout", "../../scss/font-size", "../../scss/text";

.itemContainer {
  @extend %flex-row;
  padding: calculateRem(15px, "em") calculateRem(15px, "em");
  background-color: #fafafa;
  border-radius: 5px;
  margin-bottom: calculateRem(5px, "em");

  &.selected{
    border: 2px #f54343 solid;
  }

  .cuisine {
    @extend %flex-column;
    justify-content: center;
    @include fontSize(64px, "em");
    justify-content: center;
    font-family: "ef_cuisinesregular";
    color: #f54343;
  }
  .details {
    @extend %flex-column;
    flex-grow: 1;
    padding: 0 calculateRem(17px, "em");

    .name {
      @extend %flex-row;
      flex-wrap: wrap;
      @include fontSize(20px, "em");
      @include semibold-text();
    }

    .address{
      @include fontSize(12px,"em");
      @include text();
      color : grey;
      padding-left: 1px
    }

    .delivery{
      @include fontSize(12px,"em");
      @include text();
      padding-left: calculateRem(3px, "em");
    }
  }
  .actions{
    @extend %flex-row;
    align-items: center;
    text-align: center;
    @include fontSize(24px,"em");
  }
}
