@import "../../scss/background", "../../scss/text", "../../scss/layout", "../../scss/font-size";

.header {
  @extend %column;
  @include background();
  @include semibold-text();
  flex: 0;
  align-items: center;
  background-color: #282c34;
  background-image: url("/images/bg.png");
  color: white;

  h1 {
    @include bold-text();
    @include fontSize(64px);
    margin-bottom: 0;
  }
  h2 {
    @include fontSize(20px);
    @include semibold-text();
    margin: calculateRem(16px) 0 calculateRem(24px);
  }
}
