%flex-box {
  position: relative;
  display: flex;
}
%column {
  @extend %flex-box;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
%row {
  @extend %flex-box;
  flex: 1 0 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.row {
  @extend %row;
}
.column {
  @extend %column;
}