@import url("https://use.typekit.net/ico6zwm.css");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap&subset=hebrew");
@import "../scss/text", "../scss/layout";

* { box-sizing: border-box; }
html, body { height: 100vh; margin: 0; }

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}


#root {
  @include text();
  background-color: #eceff1;
}

a {
  color: unset !important;
  text-decoration: unset !important;
}
